.button2 {
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 8px;
  background-color: var(--complementary-color);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button3 {
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 8px;
  background-color: #f44336;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button4 {
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 8px;
  background-color: #e7e7e7;
  color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button5 {
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 8px;
  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button6 {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button7 {
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 8px;
  background-color: var(--complementary-color);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button8 {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button9 {
  background-color: #e7e7e7;
  color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button10 {
  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


.button11 {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button12 {
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 8px;
  background-color: var(--secundary-color);
  border: none;
  color: #000000;
  padding: 15px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button12::placeholder {
  color: var(--white-color);
}



@media (min-width: 992px) {
  .button12 {
    padding: 15px 145px;
  }
  .btn{
    margin-right: 143px;
  }
}

@media (min-width: 3000px) {
  .button12 {
    padding: 15px 145px;
  }
  .btn{
    margin-right: 143px;
  }

}



