<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Id</th>
      <th scope="col">name</th>
      <th scope="col">Numero cuenta</th>
      <th scope="col">Saldo</th>
      <th scope="col">Consignar</th>
      <th scope="col">Retirar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of itemLisu; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ i + 1 }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.Mumero }}</td>
      <td>{{ item.Saldo }}</td>
      <td>
        <button
          class="btn btn-lg btn-outline-primary"
          (click)="open(content, item.idsaldo)"
        >
          Consinar
        </button>
      </td>
      <td>
        <button
          class="btn btn-lg btn-outline-primary"
          (click)="opendos(contenttow, item.idsaldo)"
        >
          Retirar
        </button>
      </td>
    </tr>
  </tbody>
</table>
<!-- Formulario para insertar nueba cuenta -->

<div class="alert alert-primary" role="alert">
  Agregar nueva cuenta
</div>
<div class="mb-3">
  <label for="inputnombre" class="form-label">Nombre</label>
  <input
    type="input"
    class="form-control"
    id="inputnombre"
    name="inputnombre"
    [(ngModel)]="nNombre"
    required
  />
</div>
<div class="mb-3">
  <label for="inputdinero" class="form-label">Ingresar dinero</label>
  <input
    type="number"
    class="form-control"
    id="inputdinero"
    name="inputnombre"
    [(ngModel)]="Newsa"
    required
  />
</div>
<div class="mb-3">
  <select name="miselect" [(ngModel)]="typo" required>
    <option [value]="item.id" *ngFor="let item of itemTipoc">
      {{ item.Tipo }}
    </option>
  </select>
</div>

<button type="button" class="btn btn-primary" (click)="btnEnviar()">
  Enviar
</button>

<!-- modal para consignar cuenta -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Ingrese valor a consignar</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body" *ngFor="let item of itemSaldo; index as i">
    <h4 class="modal-title" id="modal-basic-titledo">
      Saldo
    </h4>
    <p>{{ item.Saldo }}</p>

    <div class="mb-3">
      <label for="inputdinero" class="form-label">Consignar</label>
      <input
        type="number"
        class="form-control"
        id="inputConsignar"
        name="inputConsignar"
        [(ngModel)]="NewsaldoC"
      />
    </div>
    <button
      type="button"
      class="btn btn-primary"
      (click)="btnConsignar(item.id)"
    >
      Enviar
    </button>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="c('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>
<!-- modal para consignar Retiro -->

<ng-template #contenttow let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-titledo">
      Ingrese monto a retirar
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body" *ngFor="let item of itemSaldo; index as i">
    <h4 class="modal-title" id="modal-basic-titledo">
      Saldo
    </h4>
    <p>{{ item.Saldo }}</p>

    <div class="mb-3">
      <label for="inputdinero" class="form-label">Retirar</label>
      <input
        type="number"
        class="form-control"
        id="inputConsignar"
        name="inputConsignar"
        [(ngModel)]="NewsaldoR"
      />
    </div>
    <button type="button" class="btn btn-primary" (click)="btnRetirar(item.id)">
      Enviar
    </button>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="c('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>

<hr />
