ul {
  li {
    padding: 3%;
    cursor: pointer;
  }
}

li:hover{
  color: var(--complementary-color);
}

.menu-desktop {
  padding: 2%;
  display: flex;
  color: var(--white-color);
  li{
    list-style: none;
  }
}

.menu-movil {
  width: 100%;
  position: fixed;
  color: var(--white-color);
  background-color: var(--secundary-color);
  li{
    list-style: square;
  }
}




